@model Person
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Contact">
    @if (ViewBag.Mode == "edit")
    {
    }
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <input class="form-control" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="LastName" />
    </div>
    @if (ViewBag.Mode != "edit")
    {
        <div class="input-group">
            <label asp-for="Phones"></label>
            <input type="text" class="form-control" name="Phones[0].PhoneNumber">
        </div>
        <div class="input-group">
            <label asp-for="Phones"></label>
            <input type="text" class="form-control" name="Phones[1].PhoneNumber">
        </div>
    }
    else
    {
        int inx = 0;
        foreach (var phone in Model.Phones)
        {
            <div class="input-group">
                <label asp-for="Phones"></label>
                <input type="text" class="form-control" name="Phones[@inx].PhoneNumber" value="@phone.PhoneNumber">
                <input type="hidden" class="form-control" name="Phones[@inx].Id" value="@phone.Id">
            </div>
            inx++;
        }
    }

    <input type="submit" name="name" value="Add" />
</form>